*{
  margin: 0;
  padding: 0;
}


.buscar{
  background: #0098da;
  height: 40px;
  padding: 10px;
  border-radius: 40px;
  width: 790px;
  margin-left: 22rem;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input::placeholder {
  color: #f0f5fb;
}

.search-txt{
   border: none !important;
   background: none !important;
   outline: none !important;
   padding: 0;
   color: #f0f5fb;
   font-weight: bold;
   font-size: 18px;
   line-height: 40px ;
}

.search-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0098da;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  transition: .5s;
  margin-right: -10px;
  background: #f0f5fb;

}


